html, body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #ecf0f1;
}

h1, h2, h3, h4, h5  {
  margin: 0;
  padding: 0;
}

#app-wrapper  {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.pull-left  {
  float: left;
}

.pull-right {
  float: right;
}