#branding {
  width: 205px;
  height: 60px;
  margin: auto;
  text-align: center;
  margin-top:50px;
  /*display: inline-block;*/
}

#branding i {
  font:25px "WebSymbolsRegular";
  color:#d35400;
  /*display: inline-block;*/
  float: left;
  margin-top: 12px;
}

#branding h1 {
  color:#d35400;
  font:39px "Source Sans Pro";
  font-weight: 800;
  /*display: inline-block;*/
  float: left;
  margin: 0px 0px 0px 5px;
  /*padding: 30px 0px 0px 5px;*/
}

#login-form-wrapper, #inactive-wrapper {
  width:380px;
  height: auto;
  /*padding: 20px;*/
  background-color: white;
  margin: auto;
  /*margin-top:30px;*/
  margin-bottom: 20px;
  overflow: hidden;

  box-shadow: 0px 0px 5px 1px #ecf0f1;
  -webkit-box-shadow: 0 8px 6px -6px #171817;
  -moz-box-shadow: 0 8px 6px -6px #171817;
  box-shadow: 0 4px 10px -4px #7f8c8d;
}

#login-form-wrapper header  {
  width: 100%;
  height: 60px;
  background-color: #d35400;
}

#login-form-wrapper header h1  {
  color:white;
  font:25px "Source Sans Pro";
  font-weight: 300;
  margin:15px 10px 0px 0px;

}

#notification {
  font:14px "Source Sans Pro";
  font-weight: 200;
  padding: 10px 10px 10px 10px;
  color:#7f8c8d;
  background-color: #bdc3c7;
  display: none;
}

#error-notification {
  font:14px "Source Sans Pro";
  font-weight: 200;
  padding: 10px 10px 10px 10px;
  color:#c0392b;
  background-color: #bdc3c7;
  display: none;
}

#login-form-wrapper fieldset {
  border: none;
  width: 96%;
  padding:2%;
  margin: 0px 0px 10px 0px;
}

#login-form-wrapper input[type=text]  {
  width: 99%;
  height: 30px;
  margin: 5px 0px 5px 0px;
  border:0;
  border-bottom: 1px solid #bdc3c7;
  font:15px "Source Sans Pro";
  font-weight: 200;
  color:#7f8c8d;
}

#login-form-wrapper input[type=password]  {
  width: 99%;
  height: 30px;
  margin: 5px 0px 5px 0px;
  border:0;
  border-bottom: 1px solid #bdc3c7;
  font:15px "Source Sans Pro";
  font-weight: 200;
  color:#7f8c8d;
}

#login-form-wrapper input[type=button]  {
  border:none;
  width: 100px;
  height: 30px;
  margin: auto;
  margin-top: 10px;
  background-color: #d35400;
  border-radius: 5px;
  color:white;
  float: right;
  font:15px "Source Sans Pro";
  font-weight: 200;
}

#login-form-wrapper h2 {
  color:#7f8c8d;
  float: left;
  font:13px "Source Sans Pro";
  font-weight: 200;
  margin-top: 13px;
}

#sign-up-toggle {
  color:#d35400;
  cursor: pointer;
}


/* Style sheet for inactive. */
#inactive-wrapper img {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  margin:10px 0px 0px 0px;
  float: left;
}

#inactive-wrapper hgroup  {
  width:auto;
  height: 80px;
  min-width: 150px;
  float: left;
}

#inactive-wrapper hgroup h2  {
  width: 150px;
  font:16px "Source Sans Pro";
  font-weight: 200;
  color:white;
  /*display: inline;*/
  text-align: left;
  float: right;
  line-height: 10px;
  margin:26px 0px 0px 10px;
}

#inactive-wrapper hgroup h1  {
  width: 150px;
  font:20px "Source Sans Pro";
  font-weight: 400;
  color:white;
  /*display: inline;*/
  clear: right;
  float: right;
  margin: 0px 0px 0px 10px;
}

#info aside {
  width: 100%;
  font:14px "Source Sans Pro";
  font-weight: 200;
  padding: 10px 10px 10px 10px;
  color:#7f8c8d;
  background-color: #bdc3c7;
}

#time {
  margin:auto;
  font:40px "Source Sans Pro";
  font-weight: 100;
  padding: 10px 10px 10px 10px;
  color:#7f8c8d;
  text-align: center;
}