<!-- Header Section -->
<header>
  <aside id="header-info">
    <img src="http://www.gravatar.com/avatar/<%=avatar%>?s=60" alt="avatar"/>
    <hgroup>
      <h2>Welcome,</h2>
      <h1><%=name%></h1>
    </hgroup>
  </aside>

  <aside id="header-logout">
    <p>logout</p>
    <i>X</i>
  </aside>
</header>

<!-- Search and Add Section -->
<section id="add-snapshot-wrapper">
  <i id="add-code" class="pull-right">+</i>
  <input type="text" id="code" class="code pull-right" placeholder="GOOG,MSFT,YHOO"/>
  <p id="add-code-status" class="pull-right">Company code</p>
</section>

<section id="notification-wrapper">
  <p id="notification-text"></p>
  <i id="notification-close">-</i>
</section>

<!-- Snapshot Section -->
<section id="stock-snapshots-wrapper">

</section>