<section id="branding">
  <i>u</i><h1>Stockvibe</h1>
</section>
<section id="login-form-wrapper">
  <header>
    <h1>Sign in</h1>
  </header>

  <aside id="notification">
    <p>please enter your email id and password to sigin up to stockvibe. Happy Trading.</p>
  </aside>

  <aside id="error-notification">
    <p>Invalid Email or Password.</p>
  </aside>

  <fieldset>
    <input type="text" id="name" name="name" placeholder="Name" style="display:none;"/>
    <input type="text" id="email" name="email" placeholder="Email"/>
    <input type="password" id="password" name="password" placeholder="Password"/>
    <input type="button" id="login" name="login" value="Login"/> 
    <h2 id="message">New user, <span id="sign-up-toggle">Signup here.</span></h2>
  </fieldset>
</section>